body {
    background-color: rgb(191, 166, 231);
  
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}
 
h1 {
    color: #333;
}

p{
    color: #d83737;
    font-size: 18px;
}